h1{
    color: aqua;
}

body{
    background-color: blueviolet;
}

.circle {
    width: 50px;
    height: 50px;
    background: aqua;
    border-radius: 50%;
    position: relative;
    left: 50%;
    animation: bounce 0.9s infinite;
}
@keyframes bounce{
    10%{
        height:50px;
        width:50px;
    }
    
    30%{
        height:50px;
        width: 40px;

    }
    
    
    50%{
        height:30px;
        width: 50px;
        transform: translateY(250px)
    }
    
    75%{
        height: 50px;
        width: 50px;
        animation-delay: 5s;
    }

    100%{
        transform: translateY(px0);
    }
}



.waiting{
    margin-top: 2rem auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}


.text{
    margin-top: 2rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}



.container{
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.loading{
    width:100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.loading .line-box{
    padding: 2px;
    width: 40%;
    height: 20px;
    border: 2px solid aqua;
    position: absolute;
    border-radius: 20px;
}

.loading .line{
    width: 40%;
    height: 20px;
    background-color: limegreen;
    border-radius: 20px;
    animation: loading 5s forwards cubic-bezier(0,0,0,0);
}

@keyframes loading{
    0%{
        width:0%
    }
    100%{
        width:40%
    }
}